transformers
numpy
pandas
pyarrow
torchaudio
evaluate
scikit-learn
banglanlptoolkit
bnunicodenormalizer
langdetect
git+https://github.com/csebuetnlp/normalizer
sentencepiece
wandb
accelerate
jiwer
bitsandbytes
git+https://github.com/huggingface/peft.git@main
torchmetrics
librosa
matplotlib